.calendar-container {
    position: absolute;
    top: 2.5rem;
    right: 9rem;
    width: 100%;
    max-width: 750px;
}

.calendar-wrapper {
    max-width: 750px;
    height: 600px;
    padding: 3rem;
    border: 2px solid #219ebc;
    border-radius: 1rem;
    background-color: white;
}

.fc {
    font-family: Inter, sans-serif; /* Ensure proper font family */
}

.fc .calendar-daygrid-day-frame,
.fc .fc-scrollgrid-liquid {
    border: none;
}

.fc .fc-toolbar-title {
    color: #219ebc;
    text-transform: uppercase; /* Convert text to uppercase */
    font-weight: bold; /* Optional: Make text bold */
    font-size: 2rem;
}

.fc .fc-daygrid-day {
    border: none;
    background: transparent;
}

.fc .fc-col-header-cell-cushion {
    color: #666666;
    font-weight: lighter;
    font-size: 1.2rem;
    padding: 8px;
}

.fc .fc-daygrid-day-top {
    border: none;
    background: transparent;
}

.fc .fc-daygrid-day-content {
    border: none;
}

.fc-daygrid-day-number {
    color: #333333;
    text-align: center; /* Center the text */
    font-size: 1.2rem;
    display: inline-block; /* Ensures proper alignment */
    width: 100%; /* Ensures it takes full width for centering */
}

.event-title {
    background-color: #219ebc;
    color: white; /* Ensure the text is readable */
    padding: 4px 8px; /* Optional: Add some padding for better visual separation */
    border-radius: 4px; /* Optional: Give the event title rounded corners */

    /* Ensure the event title is fully visible */
    white-space: normal; /* Allow the text to wrap */
    overflow: visible; /* Make sure the text doesn't get clipped */
    word-wrap: break-word; /* Break words if they are too long */
    max-width: none; /* Remove any width limitation */
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 374px) {
    .calendar-container{
		top: 80%;
        right: 0%;
        
	}

	.calendar-wrapper{
		width: 100%;
        height: 25rem;
		border: 5px solid #219ebc;
        padding: 20px;
	}

	.fc-scrollgrid-sync-table{
		width: 100%;
	}

	.fc .fc-toolbar-title{
		font-size: 20px;
		margin: 3px 0 0 10px; 
	}

	.fc .fc-col-header-cell-cushion,
	.fc-daygrid-day-number{
		font-size: 12px;
	}

    

	.fc .fc-daygrid-day-events{
		display: flex;
		justify-content: center;
		gap: 5px;
	}

	.fc-h-event .fc-event-title-container{
		width: 1rem;
		height: 1rem;
	}

	.fc-event-start{
		border-radius: 50rem;
	}

	.fc-h-event .fc-event-title{
		display: none;
	}
    .fc .fc-button-group > .fc-button {
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.5rem;
        min-width: 2rem;
        height: 2rem;
    }

    
  }

  @media (min-width: 375px) and (max-width: 424px){
    .calendar-container{
		top: 80%;
        right: 0%;
	}

	.calendar-wrapper{
		width: 100%;
        height: 25rem;
		border: 5px solid #219ebc;
        padding: 20px;
	}

	.fc-scrollgrid-sync-table{
		width: 100%;
	}

	.fc .fc-toolbar-title{
		font-size: 23px;
		margin: 5px 0 0 30px; 
	}

	.fc .fc-col-header-cell-cushion,
	.fc-daygrid-day-number{
		font-size: 13px;
	}

    

	.fc .fc-daygrid-day-events{
		display: flex;
		justify-content: center;
	}

	.fc-h-event .fc-event-title-container{
		width: 10px;
		height: 10px;
	}

	.fc-event-start{
		border-radius: 50rem;
	}

	.fc-h-event .fc-event-title{
		display: none;
	}
    .fc .fc-button-group > .fc-button {
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.5rem;
        min-width: 2rem;
        height: 2rem;
    }

    .fc .fc-daygrid-day-number{
        padding-top: 30px;
    }
  }

  /* Mobile View - Large */
  @media (min-width: 425px) and (max-width: 767px) {
    .calendar-container{
		top: 80%;
        right: 0%;
	}

	.calendar-wrapper{
		width: 100%;
        height: 25rem;
		border: 5px solid #219ebc;
        padding: 20px;
	}

	.fc-scrollgrid-sync-table{
		width: 100%;
	}

	.fc .fc-toolbar-title{
		font-size: 23px;
		margin: 5px 0 0 50px; 
	}

	.fc .fc-col-header-cell-cushion,
	.fc-daygrid-day-number{
		font-size: 15px;
	}

    

	.fc .fc-daygrid-day-events{
		display: flex;
		justify-content: center;
	}

	.fc-h-event .fc-event-title-container{
		width: 10px;
		height: 10px;
	}

	.fc-event-start{
		border-radius: 50rem;
	}

	.fc-h-event .fc-event-title{
		display: none;
	}
    .fc .fc-button-group > .fc-button {
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.5rem;
        min-width: 2rem;
        height: 2rem;
    }

    .fc .fc-daygrid-day-number{
        padding-top: 30px;
    }
  }