/* calendar.css */

.fc {
	font-family: Inter, sans-serif; /* Ensure proper font family */
}

.fc .fc-daygrid-day-frame,
.fc .fc-scrollgrid-liquid {
	border: none;
}

.fc .fc-toolbar-title {
	color: #219ebc;
	text-transform: uppercase; /* Convert text to uppercase */
	font-weight: bold; /* Optional: Make text bold */
	font-size: 2rem;
}

.fc .fc-daygrid-day {
	border: none;
	background: transparent;
}

.fc .fc-col-header-cell-cushion {
	color: #666666;
	font-weight: lighter;
	font-size: 1.2rem;
	padding: 8px;
}

.fc .fc-daygrid-day-top {
	border: none;
	background: transparent;
}

.fc .fc-daygrid-day-content {
	border: none;
}

.fc-daygrid-day-number {
	color: #333333;
	text-align: center; /* Center the text */
	font-size: 1.2rem;
	display: inline-block; /* Ensures proper alignment */
	width: 100%; /* Ensures it takes full width for centering */
}

.fc-event-title {
	background-color: #219ebc;
	color: white; /* Ensure the text is readable */
	padding: 4px 8px; /* Optional: Add some padding for better visual separation */
	border-radius: 4px; /* Optional: Give the event title rounded corners */

	/* Ensure the event title is fully visible */
	white-space: normal; /* Allow the text to wrap */
	overflow: visible; /* Make sure the text doesn't get clipped */
	word-wrap: break-word; /* Break words if they are too long */
	max-width: none; /* Remove any width limitation */
}
